.medicine-container{
    width: 50%;
    margin: auto;
    border: 1px solid  rgba(185, 196, 211, 0.986);
    margin-top: 25px;
    text-align: left;
    padding: 28px;
    background-color: rgba(220, 227, 236, 0.986);
    border-radius: 20px;
}
.medci-h{
  text-align: center;
}
.m-h{
    margin-top: 16px;
}
.button-container{
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
.btn-medicine{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  padding : 10px;
  padding-left:35px ;
  padding-right: 35px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
}